@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;400;700&display=swap');

/*
* {
    margin: 0;
    padding: 0;
}
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans',sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-size: 10px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** HEADER ******/

.container {
    width: 1170px;
	margin: 0 auto;
	/*background-color: yellow;
	height: 100PX;*/
}

/****** MENU ******/

header {
    height: 100px;
    width: 100%;
}

.logo {
    float: left;
}

.menu {
    float: right;
  
}

.menu li {
    display: flex;
    display: inline;
}

.menu a {
    text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	color: #484c55;
	padding: 0 25px;
	line-height: 100px;
	display: inline-block;
	transition: background-color 0.8s;
		-webkit-transition: background-color 0.8s;
		-o-transition: background-color 0.8s;
		-moz-transition: background-color 0.8s;
		-ms-transition:background-color 0.8s;

}

.menu a:hover {
	background-color: #f8f9fb;
	color:#49cbcd;
	border-bottom: 2px solid #49cbcd;
}

.active {
	background-color:#f8f9fb;
	color: #49cbcd !important;
	border-bottom: 2px solid #49cbcd;
}

/****** BANNER ******/

.slider1 {
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	height: 565px;
	background-size: cover;
	padding-top: 140px;
}

.clear {
	clear: both;
}

.banner {
	text-align: center;
}

.banner h2 {
	font-size: 6.3em;
	font-weight: 600;
	color: #FFF;
	text-align: center;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.16);
	margin-bottom: 50px;
	
}

.banner p {
	font-size: 2.3em;
	color: #fff;
	padding: 0 33%;
	line-height: 30px;
	margin-bottom: 65px;
}

.banner a {
	text-decoration: none;
	color: #fff;
	border:3px solid  #fff;
	font-weight: 600;
	font-size: 2.6em;
	border-radius: 5px;
	padding: 20px 50px;
}

/******SERVICES******/


.box4 {
	float: left;
	width: 25%;
	box-sizing: border-box;
}

#services {
	padding: 105px 0 100px;
	height: 315px;
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.bola {
	width: 105px;
	height: 105px;
	border: 3px solid #49cbcd;
	margin: 0 auto 50px;
	border-radius: 50%;
}

.bola i {
	color: #49cbcd;
	font-size: 4.0em;
	line-height: 105px;
	transition: transform;
}

.bola i:hover{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}

#services h2 {
	font-size: 2.2em;
	color: #4e525d;
	margin-bottom: 30px;
}


#services p {
	font-size: 1.4em;
	color: #4e525d;
	margin-bottom: 25px;
	line-height: 25px;
}

#services a {
	font-size: 1.4em;
	background-color: #49cbcd;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 15px;
}

/******PORTIFÓLIO******/

.titulo {
	font-size: 4.2em;
	color: #4e525d;
	text-align: center;
	margin-bottom: 60px;
}

#portfolio {
	background-color: #f1f1f1;
	padding: 60px 0 100px;
}

.box3 {
	float: left;
	width: 33.333%;
	padding: 0px 0px 30px;
	box-sizing: border-box;
}

#portfolio img {
	max-width: 92%;
}

#portfolio img:hover {
	box-shadow: 0 05px #000;
}

.btn-portfolio {
	background-color:#49cbcd;
	color: #FFF;
	font-size: 2.4em;
	font-weight: 600;
	text-decoration: none;
	border-radius: 5px;
	padding: 25px 40px;
	display: inline-block;
	margin-top: 15px;
}

.btn-portfolio:hover {
	background-color:#4e525d;
	box-shadow: 0 0 5px #000;
}
